.cardContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  background-color: white;
  color: black;
  width: 30rem;
  border-radius: 2rem;
  align-items: center;
}
.selfieImage {
  width: 28rem;
  margin: 1rem;
  border-radius: 2rem;
}
.name {
  margin: 0;
  font-size: 2.5rem;
}
.interestList {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}
.individualInterest {
  list-style: none;
  margin: 0.5rem;
  background-color: grey;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  width: 10rem;
  text-align: center;
  font-weight: 650;
}
